* {
    margin: 0;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

body {
    margin: 2em;
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    margin-bottom: 5em;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
    color: #5F8F11;
    letter-spacing: 6px;
}

h2 {
    margin-bottom: 0.7em;
    color: #5F8F11;
    border-bottom: #CFDFB5 1px solid;
    letter-spacing: 3px;
}

h3 {
    margin-bottom: 0.7em;
    color: #BF823B;
    letter-spacing: 1px;
}

p {
    margin-bottom: 0.5em;
}

span {
    color: #BF823B;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    padding: 0.4em; 
    margin-bottom: 0.4em;
    margin-left: -2.8em;
}
.caja{
   
   border: #CFDFB5 1px solid;
   padding: 2em; 
   box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 0px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

   }